@import '~antd/dist/antd.css';
*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #ccc;
}

.content{
  width: 1200px;
  margin: 50px auto 0;
}
.left{
  width: 900px;
  float: left;
}
.right{
  width: 270px;
  height: 500px;
  float: right;
  /* margin: 50px auto 0; */
  background-color:#fff;
  border-radius: 4px 4px;
  padding: 20px 20px;
}
